.link-button {
  padding: 7px 12px 7px 12px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  width: 300px;
  font-family: "Roboto", sans-serif;
}

.link-button:hover {
  background-color: white;
  color: teal;
}
