.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  /* margin-top: 16px; */
  width: 30%;
  padding: 20px 20px 20px 0px;;
}

.stepper-main-container {
  display: flex;
  justify-content: center;
  padding-top: 140px;
  height: 1000px;
  width: 80%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #82c0cc;


}

mat-vertical-stepper {
  background-color: #82c0cc;
}

.upload-file-container {
  padding: 20px 20px 20px 0px;
  display: inline-block;
  position: relative;
  text-align: left;
}

.project-summary-container {
  padding: 15px 15px 40px 15px;
}

.project-info {
  font-size: 16px;
  padding: 10px 5px;
}

.info-title {
  font-weight: 600;
}