.nav-main-container {
  height: 72px;
  width: 100vw;
  background-color: teal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: light;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px -2px grey;
  z-index: 1;
}

.nav-sub-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  align-items: center;
}

.logo-container {
  width: 154px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alectio-logo {
  transform: scale(0.05);
}
